@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Rajdhani:wght@500&display=swap");

:root {
  /* --color: red; */
  /* how to use   var(--color) */
  --color: #30502a;
  --bodyColor: #fff78a;
  --tableBg: rgba(255, 255, 0, 0.222);
  --inputBorder: black;
  --aColor:  #635523c9;
  --inputBg: #ffa25148;
}

* {
  color: var(--color);
  font-family: "Rajdhani";
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  border: border-box !important;
  /* letter-spacing: 1px; */
  line-height: 30px;
  /* cursor:help; */
  border-radius: 2%;
  border-color: var(--tableBg);
  
}
body {
  background-color: var(--bodyColor);
}
h4, th, .navbarr {
  font-size: 25px;
  font-family: "Merriweather";
  font-size: 20px;
}
table {
  background-color: var(--tableBg);
  margin: auto;
  margin-top: 20px;
  width: 90%;
  box-shadow: 5px 5px 20px 2px rgba(51, 255, 40, 0.434);

}
input {
  border: 2px solid var(--inputBorder);
  font-size: 1.4rem;
  background-color: var(--inputBg);
}
#headTable {
  background-color: var(--bodyColor);
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--aColor);
  font-size: 1.55rem;
  font-weight: bolder;
}
td {
  vertical-align: top;
}
footer {
  padding: 15px;
}

/* contact us */

.contant, .chef {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.contact, .chef1 {
  width: 20%;
  padding: 4%;
  background-color: var(--tableBg);
  /* margin-left: 40px;*/
  margin-top: 40px; 
  /* margin: 20px; */
  margin: auto;
  text-align: center;
}

/* Find us */
.map {
  margin: auto;
  margin-left: 30%;
  width: 200px;
  height: 200px;
}
.map p{
  width: 300px;
}
i {
 font-size: .88rem;
}

/* Chef */

.chef2 {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.image {
  width: 12%;
}

/* Sare Recipe */
